# Mem0 Environment Variables
QDRANT_URL=https://f969d77f-3cf6-4557-92cb-67f7cac0f44a.us-west-1-0.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=${QDRANT_API_KEY:-your-qdrant-api-key}
GEMINI_API_KEY=${GEMINI_API_KEY:-your-gemini-api-key}
JINA_API_KEY=EMPTY
NEO4J_HTTP_URL=http://localhost:7474
NEO4J_DATABASE=neo4j
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=change-me
